.heading-large{
    font-size: 1.3rem;
    padding: var(--padding);
    padding-top: 24px;
    font-weight: bold;
}

.heading-small{
    font-size: 1.1rem;
    padding: var(--padding);
    text-transform: capitalize;
    color: var(--accent);
    padding-top: 16px;
    font-weight: bold;
}

.hero-text{
    font-size: clamp(16px,8vw,48px);
}

.page-title{
    text-transform: capitalize;
    font-size: 2rem;
    /* color: var(--accent); */
    background-color: var(--primary-lighter);
    padding: var(--padding);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.basket{
    position: relative;
}
.message-bubble{
    font-size: 0.7rem;
    background-color: orangered;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    right: 0;
    top: 0;
}