.form-container{
    width: 100%;
    min-height: 90vh;
    padding: var(--padding);
    padding-bottom: 20vh;
    /* border: 1px solid red; */
}

form{
    width: clamp(300px,95%,800px);
    min-height: 50vh;
    background-color: var(--primary-lighter);
    border-radius: 8px;
    padding: var(--padding);

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: min-content;
    gap: var(--padding);
}

.form-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: min-content;
    gap: 8px;
}

.form-field{
    background-color: rgb(54, 54, 54);
    padding: var(--padding);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input,select,textarea,fieldset{
    background: none;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    padding: var(--padding);
}

option{
    background: var(--primary);
    color: var(--light);
}


.form-heading{
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0.75rem;
    text-transform: capitalize;
    color: var(--accent);
}

label{
    text-transform: capitalize;
    color: rgb(211, 211, 211);
}

button.submit{
    width: 80%;
    padding: var(--padding);
    background-color: var(--accent);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}